form {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        margin-top: 5px;
    }
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin: 5px;
}

ul {
    list-style: none;
}